.button {
    text-transform: uppercase;
    display: inline-block;
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 15px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button:active {
    background-color: #3e8e41;
  }
  
  .options {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
  }